body {
  margin: 0;
}

.rainydays_logo {
  max-width: 300px;
  float: center;
  margin-right: 15;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  color: #0a3641;
  display: flex;
  justify-content: center;
}

.statement {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  color: #0a3641;
}

footer {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 32;
}

.extra-info {
  display: flex;
  flex-direction: column;
}

.extra-info__item {
  flex: 1;
}

.men-shop {
  max-width: 550px;
  float: left;
  margin-right: 15;
}

.woman-shop {
  max-width: 550px;
  float: right;
  margin-right: 15;
}

.juniors-shop {
  max-width: 550px;
  margin-right: 15;
}

header,
footer {
  background-color: #0a3641;
  height: 60px;
}

.footer-copyright {
  color: #ffffff;
}

.about {
  color: #ffffff;
}

.welcome {
  text-align: center;
}

footer {
  text-align: center;
  font-weight: bold;
}

.navigation {
  background-color: #0a3641;
  height: 60px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 250px;
  margin: auto;
}

nav a {
  padding: 20px;
}

.nav-men {
  color: #ffffff;
}

.nav-women {
  color: #ffffff;
}

.nav-kid {
  color: #ffffff;
}

.home-logo {
  position: relative;
  top: 10px;
  float: left;
  left: 5px;
}

.contact {
  position: relative;
  top: 18px;
  left: 25px;
}

.right-logo {
  position: relative;
  top: 10px;
  float: right;
  right: 5px;
}

.person-logo {
  position: relative;
  right: 15px;
}

.search-logo {
  position: relative;
  right: 30px;
}

.search {
  position: relative;
  height: 15px;
  right: 60px;
  bottom: 8px;
  border-radius: 5px;
}

@media only screen and (min-width: 400px) {
  .extra-info {
    flex-direction: row;
  }
}

@media only screen and (min-width: 620px) {
  body {
    padding: 0px;
  }
}

/* Contact form */

main {
  max-width: 600px;
  margin: 40px auto;
}

input,
.text {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border: 2px solid #0a3641;
}

.text {
  height: 50%;
  min-height: 200px;
  min-width: 600px;
}

.submit {
  padding: 10px 30px;
  background-color: #0a3641;
  color: #ffffff;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: lighter;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.submit:hover {
  background-color: #a1a621;
}

@media only screen and (min-width: 400px) {
  .text {
    height: 50%;
    min-width: 350px;
    min-height: 200px;
  }
}

@media only screen and (min-width: 600px) {
  .text {
    height: 50%;
    min-width: 400px;
    min-height: 200px;
  }
}
