body {
  margin: 0;
}

.rainydays_logo {
  max-width: 300px;
  float: center;
  margin-right: 15;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 32;
  font-weight: lighter;
  color: #0a3641;
}

footer {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 32;
}

.men-shop {
  max-width: 550px;
  float: left;
  margin-right: 15;
}

.woman-shop {
  max-width: 550px;
  float: right;
  margin-right: 15;
}

.juniors-shop {
  max-width: 550px;
  margin-right: 15;
}

header,
footer {
  background-color: #0a3641;
  color: #ffffff;
  height: 60px;
}

.welcome {
  text-align: center;
}

footer {
  text-align: center;
  font-weight: bold;
}

h1 {
  text-align: center;
}

.navigation {
  background-color: #0a3641;
  height: 60px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 250px;
  margin: auto;
}

nav a {
  padding: 20px;
}

.nav-men {
  color: #ffffff;
}

.nav-women {
  color: #ffffff;
}

.nav-kid {
  color: #ffffff;
}

.cta {
  font-family: Calisto MT;
  font-size: 14;
  font-weight: bold;
  background-color: #ffffff;
  color: #262621;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  top: 800px;
}

/* Home page */

.home-image {
  max-width: 1000px;
  max-height: 1500px;
}

.home-image-w {
  max-width: 2010px;
}

.home-section {
  display: flex;
  justify-content: center;
}

.home-section div:last-of-type {
  margin: 0;
}

.header {
  position: relative;
}

.home-logo {
  position: relative;
  top: 10px;
  float: left;
  left: 5px;
}

.right-logo {
  position: relative;
  top: 10px;
  float: right;
  right: 5px;
}

.person-logo {
  position: relative;
  right: 15px;
}

.search-logo {
  position: relative;
  right: 30px;
}

textarea {
  position: relative;
  height: 15px;
  right: 60px;
  bottom: 8px;
  border-radius: 50px;
}

.home-card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .home-section {
    display: block;
  }
  .cta {
    top: 300px;
  }
  .home-image,
  .home-image-w {
    width: 100%;
  }
  .cta.w {
    top: 150px;
  }
}
