.rainydays_logo {
  max-width: 300px;
  float: center;
  margin-right: 15;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 32;
  font-weight: lighter;
  color: #0a3641;
}

footer {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 32;
}

.men-shop {
  max-width: 550px;
  float: left;
  margin-right: 15;
}

.woman-shop {
  max-width: 550px;
  float: right;
  margin-right: 15;
}

.juniors-shop {
  max-width: 550px;
  margin-right: 15;
}

header,
footer {
  background-color: #0a3641;
  color: #ffffff;
  height: 60px;
}

.welcome {
  text-align: center;
}

footer {
  text-align: center;
}

h1 {
  text-align: center;
}

.navigation {
  background-color: #0a3641;
  height: 60px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 250px;
  margin: auto;
}

nav a {
  padding: 20px;
}

.nav-men {
  color: #ffffff;
}

.nav-women {
  color: #ffffff;
}

.nav-kid {
  color: #ffffff;
}

.cta-men,
.cta-women,
.cta-kids {
  font-family: Calisto MT;
  font-size: 14;
  font-weight: bold;
}

.cta-men {
  background-color: #ffffff;
  color: #262621;
  padding: 10px 15px;
  border-radius: 5px;
  position: absolute;
  top: 600px;
  left: 250px;
}

.cta-women {
  background-color: #ffffff;
  color: #262621;
  padding: 10px 15px;
  border-radius: 5px;
  position: absolute;
  top: 300px;
  left: 210px;
}

.cta-kids {
  background-color: #ffffff;
  color: #262621;
  padding: 10px 15px;
  border-radius: 5px;
  position: absolute;
  top: 600px;
  left: 220px;
}

/* Home page */

.welcome-men {
  background-image: url("images/Rain22.jpg");
  background-size: 500px;
  background-repeat: no-repeat;
  min-height: 60vh;
  position: relative;
}

.welcome-women {
  background-image: url("images/Rain2.jpg");
  background-size: 1180px;
  background-repeat: no-repeat;
  min-height: 60vh;
  position: relative;
}

.welcome-kids {
  background-image: url("images/Rain1.jpg");
  background-size: 500px;
  background-repeat: no-repeat;
  min-height: 60vh;
  position: relative;
}

.header {
  position: relative;
}

.home-logo {
  position: relative;
  top: 10px;
  float: left;
  left: 5px;
}

.right-logo {
  position: relative;
  top: 10px;
  float: right;
  right: 5px;
}

.person-logo {
  position: relative;
  right: 15px;
}

.search-logo {
  position: relative;
  right: 30px;
}

textarea {
  position: relative;
  height: 15px;
  right: 60px;
  bottom: 8px;
  border-radius: 50px;
}
